body {
  margin: 0;
  font-family: monospace;
  background-color: #000;
  color: #0f0;
  overflow-x: hidden;
}

.container {
  text-align: center;
  margin-top: 30px;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  background-color: black;
  color: lime;
  border: 1px solid lime;
  outline: none;
}

button:hover {
  background-color: lime;
  color: black;
  cursor: pointer;
}

#console {
  text-align: left;
  white-space: pre-wrap;
  margin: 20px;
  padding: 10px;
  background-color: #111;
  border: 1px solid #0f0;
  max-height: 400px;
  overflow-y: scroll;
}

#loading-screen {
  padding: 20px;
  font-size: 1.2em;
}

.console-log {
  color: #0f0;
  white-space: pre-wrap;
  margin: 50px;
}
